.marquee {
  font-size: 6vw;
  color: #fff;
  height: 8.5vw;
  overflow: hidden;
  position: relative;
  z-index: 999;
}
/* nested div inside the container */
.content {
  display: block;
  width: 200%;
  position: absolute;
  overflow: hidden;
  animation: marquee 12s linear infinite;
}
/* span with text */
.marquee span {
  float: left;
  width: 25%;
}
/* keyframe */
@keyframes marquee {
  0% {
    left: 0;
  }
  100% {
    left: -100%;
  }
}
